.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
}


.weather-card {
  display: flex;
  align-items: center;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  font-family: sans-serif;
}

.weather-icon img {
  width: 80px;
  height: 80px;
}

.weather-info {
  margin-left: 20px;
}

.temperature {
  font-size: 24px;
  margin-bottom: 5px;
}

.high {
  color: #f00;
}

.low {
  color: #333;
  font-size: 16px;
}

.weather-phrase {
  font-size: 18px;
  margin-bottom: 5px;
}

.precipitation {
  font-size: 14px;
  color: #666;
}



.chart-container {
  width: 100%;
  height: 400px;
}